@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    background-color: rgb(47, 105, 214);
    font-family: 'OpenSans', sans-serif;
}

/*main*/
.main {
    background-image: url(images/background.png);
    background-position: center;
    image-resolution: 100vh;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    color: rgb(22, 238, 58);
}

/*Perfil*/
.person {
    color: aliceblue;

}

/*Foto de perfil*/
.person_pic {
    width: 200px;
    border-radius: 50%;
    border: 8px solid transparent;
    margin-bottom: 12px;
}

/*Nome*/
.person_name {
    font-size: 40px;
    margin-bottom: 8px;
}

/*subtítulo do nome*/
.person_subtitle {
    font-size: 16px;
    margin-bottom: 40px;
}

/*informações dos containers*/
.info_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 16px;
    color: antiquewhite;
}

/*informações das caixas de textos*/
.info_box {
    width: 350px;
    height: 200px;
    background-color: transparent;
    padding: 24px;
    border-radius: 32px;
}

/*título das caixas*/
.box_title {
    font-size: 24px;
    margin-bottom: 16px;
    color: antiquewhite;
}

/*Container dos contatos*/
.contact_container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 10px;
}

/*Imagens dos contatos*/
.contact_img {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    margin-bottom: 10px;
}